# Suppress scripts folder - for data de-identification
scripts/
 
# Suppress the original .Rdata
data/*.Rdata

# Suppress files created by knitting the Rmd
*.html
Exploring_plant_abundance_files/
.Rhistory